<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="ContactInfoConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ContactInfo;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ContactInfoConnection" connectionString="Server=f06cdc4c-8855-4c39-a119-a54b017680d9.sqlserver.sequelizer.com;Database=dbf06cdc4c88554c39a119a54b017680d9;User ID=gdjgffdrgzepgjcm;Password=tdJF53vqaNfdov7cWDNrhwLPxzudYdhhnSSCad4uTeoEgeB27gWSQVv6z3hCGsz5;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>